:root {
  --colorPrimary: #d2dbe9;
  --colorSecondary: #6e7c8d;
  --colorAction: #244a86;
  --colorText: #f0f3f5;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
}

.App {
  background-color: rgb(237, 240, 242);
}

nav ul {
  position: fixed;
  list-style-type: none;
  width: 100%;
  background-color: var(--colorSecondary);
  color: var(--colorText);
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 15px 25px 15px 25px;
}
nav ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

#about {
  padding-top: 200px;
  padding-bottom: 200px;
}
#about img {
  width: 70%;
}

#technologies {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.tech-list {
  margin-top: 50px;
  margin-bottom: 50px;
}
.tech-list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.tech-list li {
  min-width: 100px;
  margin: 5px 10px 5px 10px;
}
.logo-black {
  max-width: 60px;
  max-height: 50px;
}

#projects {
  padding-top: 100px;
}
.project-section {
  padding-top: 125px;
  padding-bottom: 125px;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-info p {
  text-align: center;
}
.project-info div {
  margin-top: 15px;
  margin-bottom: 15px;
}
.project-img {
  width: 100%;
}
.cryptonet-mockup {
  width: 80%;
}
.tech-logos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tech-logos img {
  max-width: 110px;
  margin: 5px;
}
.tech-logos span {
  display: flex;
  align-items: center;
}
.tech-logos span img {
  max-height: 33px;
}
.project-actions {
  display: flex;
  justify-content: space-evenly;
}
.project-actions button {
  padding: 7px 15px 7px 15px;
  border-radius: 10px;
  border: 1px solid rgb(226, 226, 226);
  font-size: 1rem;
}
.modal-container {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}
.modal {
  position: absolute;
  z-index: 6;
  margin-top: 1rem;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 50%;
  padding: 45px 0;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
.modal > div {
  padding-left: 75px;
  padding-right: 75px;
}
.modal i {
  font-size: 22px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 10px;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;
}
.modal i:hover {
  color: gray;
}
.modal-fade-enter {
  opacity: 0;
}
.modal-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.modal-fade-exit {
  opacity: 1;
}
.modal-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

#contact {
  padding: 150px 15% 150px 15%;
}
#contact > p {
  margin-bottom: 35px;
}
.contact-icon-wrapper {
  min-width: 190px;
  margin: 10px;
}
.contact-icon-wrapper a {
  text-decoration: none;
  color: black;
}
.contact-icon-wrapper img {
  max-width: 40px;
  margin-top: 5px;
}


.relative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-center {
  align-items: center;
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.pointer {
  cursor: pointer;
}
.hovered:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.bg-white {
  background-color: white;
}
.text-title {
  font-size: 2rem;
  font-family: 'Barlow', sans-serif !important;
}
.text-subtitle {
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif !important;
}
.text-regular {
  font-size: 1.2rem;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-family: bold;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}
.grid-center {
  align-self: center;
}
.l1 {
  grid-column: span 1;
}
.l2 {
  grid-column: span 2;
}
.l3 {
  grid-column: span 3;
}
.l4 {
  grid-column: span 4;
}
.l5 {
  grid-column: span 5;
}
.l6 {
  grid-column: span 6;
}
.l7 {
  grid-column: span 7;
}
.l8 {
  grid-column: span 8;
}
.l9 {
  grid-column: span 9;
}
.l10 {
  grid-column: span 10;
}
.l11 {
  grid-column: span 11;
}
.l12 {
  grid-column: span 12;
}
.l2-offset-1 {
  grid-column: 2 / span 2;
}
.l2-offset-3 {
  grid-column: 4 / span 2;
}
.l2-offset-5 {
  grid-column: 6 / span 2;
}
.l3-offset-2 {
  grid-column: 3 / span 3;
}
.l3-offset-3 {
  grid-column: 4 / span 3;
}
.l3-offset-5 {
  grid-column: 6 / span 3;
}
.l3-offset-6 {
  grid-column: 7 / span 3;
}
.l3-offset-7 {
  grid-column: 8 / span 3;
}
.l3-offset-8 {
  grid-column: 9 / span 3;
}
.l4-offset-1 {
  grid-column: 2 / span 4;
}
.l4-offset-2 {
  grid-column: 3 / span 4;
}
.l4-offset-6 {
  grid-column: 7 / span 4;
}
.l4-offset-7 {
  grid-column: 8 / span 4;
}
.l4-offset-8 {
  grid-column: 9 / span 4;
}
.l5-offset-1 {
  grid-column: 2 / span 5;
}
.l5-offset-2 {
  grid-column: 3 / span 5;
}
.l5-offset-4 {
  grid-column: 5 / span 5;
}
.l5-offset-5 {
  grid-column: 6 / span 5;
}
.l5-offset-6 {
  grid-column: 7 / span 5;
}
.l5-offset-7 {
  grid-column: 8 / span 5;
}
.l6-offset-3 {
  grid-column: 4 / span 6;
}
.l6-offset-4 {
  grid-column: 5 / span 4;
}
.l7-offset-3 {
  grid-column: 4 / span 7;
}
.l8-offset-2 {
  grid-column: 3 / span 8;
}

@media (max-width: 1300px) {
  .m1 {
    grid-column: span 1;
  }
  .m2 {
    grid-column: span 2;
  }
  .m3 {
    grid-column: span 3;
  }
  .m4 {
    grid-column: span 4;
  }
  .m5 {
    grid-column: span 5;
  }
  .m6 {
    grid-column: span 6;
  }
  .m7 {
    grid-column: span 7;
  }
  .m8 {
    grid-column: span 8;
  }
  .m9 {
    grid-column: span 9;
  }
  .m10 {
    grid-column: span 10;
  }
  .m11 {
    grid-column: span 11;
  }
  .m12 {
    grid-column: span 12;
  }
  .m2-offset-2 {
    grid-column: 3 / span 2;
  }
  .m5-offset-1 {
    grid-column: 2 / span 5;
  }
  .m5-offset-7 {
    grid-column: 8 / span 5;
  }
  .m6-offset-6 {
    grid-column: 7 / span 6;
  }
  .m8-offset-2 {
    grid-column: 3 / span 8;
  }
  #about img {
    width: 85%;
  }
  .tech-logos {
    flex-direction: column;
  }
  .tech-logos img {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .monch-mockup {
    margin-left: -5%;
  }
  .qs-mockup {
    margin-left: -5%;
  }
}

@media (max-width: 800px) {
  .s1 {
    grid-column: span 1;
  }
  .s2 {
    grid-column: span 2;
  }
  .s3 {
    grid-column: span 3;
  }
  .s4 {
    grid-column: span 4;
  }
  .s5 {
    grid-column: span 5;
  }
  .s6 {
    grid-column: span 6;
  }
  .s7 {
    grid-column: span 7;
  }
  .s8 {
    grid-column: span 8;
  }
  .s9 {
    grid-column: span 9;
  }
  .s10 {
    grid-column: span 10;
  }
  .s11 {
    grid-column: span 11;
  }
  .s12 {
    grid-column: span 12;
  }
  .s4-offset-2 {
    grid-column: 3 / span 4;
  }
  .s8-offset-2 {
    grid-column: 3 / span 8;
  }
  .s10-offset-1 {
    grid-column: 2 / span 10;
  }
  .s10-offset-2 {
    grid-column: 3 / span 10;
  }
  .project-section {
    padding-left: 7%;
    padding-right: 7%;
  }
  .monch-mockup {
    margin-left: 0;
  }
  .qs-mockup {
    margin-left: 0;
  }
  .cryptonet-mockup {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .xs1 {
    grid-column: span 1;
  }
  .xs2 {
    grid-column: span 2;
  }
  .xs3 {
    grid-column: span 3;
  }
  .xs4 {
    grid-column: span 4;
  }
  .xs5 {
    grid-column: span 5;
  }
  .xs6 {
    grid-column: span 6;
  }
  .xs7 {
    grid-column: span 7;
  }
  .xs8 {
    grid-column: span 8;
  }
  .xs9 {
    grid-column: span 9;
  }
  .xs10 {
    grid-column: span 10;
  }
  .xs11 {
    grid-column: span 11;
  }
  .xs12 {
    grid-column: span 12;
  }
  .xs5-offset-1 {
    grid-column: 2 / span 5;
  }
  .xs10-offset-1 {
    grid-column: 2 / span 10;
  }
  .project-section {
    padding-left: 2%;
    padding-right: 2%;
  }
}
