:root {
  --colorPrimary: #d2dbe9;
  --colorSecondary: #6e7c8d;
  --colorAction: #244a86;
  --colorText: #f0f3f5;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
}

#root {
  background: linear-gradient(180deg, rgba(240,243,245,1) 0%, rgba(228,228,228,1) 37%, rgb(202, 213, 232) 100%);
}

.App {
  height: 100%;
}

ul {
  position: fixed;
  list-style-type: none;
  width: 100%;
  background-color: var(--colorSecondary);
  color: var(--colorText);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
ul li {
  padding: 15px 25px 15px 25px;
}
ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}
#hero {
  text-align: center;
  padding-top: 350px;
  padding-bottom: 350px;
}
#hero p {
  font-size: calc(10px + 3vmin);
}
#about {
  text-align: center;
  padding-top: 350px;
  padding-bottom: 350px;
}
#technologies {
  text-align: center;
  padding-top: 350px;
  padding-bottom: 350px;
}
#projects {
  padding-top: 100px;
}
.project-section {
  padding-top: 150px;
  padding-bottom: 150px;
  border-bottom: 1px solid rgb(227, 227, 227);
}
.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-info p {
  text-align: center;
}
.project-info div {
  margin-top: 15px;
  margin-bottom: 15px;
}
.project-img {
  width: 100%;
}
.monch-iphone {
  position: absolute;
  max-width: 550px;
  right: 0;
  margin-top: -80px;
  margin-right: -20px;
}
.cryptonet-mockup {
  max-width: 600px;
  margin-left: 10%;
}
.tech-logos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tech-logos img {
  max-width: 100px;
}
.tech-logos span {
  display: flex;
  align-items: center;
}
.tech-logos span img {
  max-height: 33px;
}
.project-actions {
  display: flex;
  justify-content: space-evenly;
}
.project-actions button {
  padding: 7px 25px 7px 25px;
  border-radius: 10px;
  border: 1px solid rgb(226, 226, 226);
  font-size: 1rem;
}
.modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}
.modal {
  position: absolute;
  /* margin-top: 1rem; */
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 50%;
  padding: 25px 0;
  background-color: rgb(240, 240, 240);
}
.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
#contact {
  text-align: center;
  padding-top: 250px;
  padding-bottom: 250px;
}


.relative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.pointer {
  cursor: pointer;
}
.hovered:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.bg-white {
  background-color: white;
}
.text-title {
  font-size: 2rem;
}
.text-subtitle {
  font-size: 1.8rem;
}
.text-regular {
  font-size: 1.2rem;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 12px;
}
.l1 {
  grid-column: span 1;
}
.l2 {
  grid-column: span 2;
}
.l3 {
  grid-column: span 3;
}
.l4 {
  grid-column: span 4;
}
.l5 {
  grid-column: span 5;
}
.l6 {
  grid-column: span 6;
}
.l7 {
  grid-column: span 7;
}
.l8 {
  grid-column: span 8;
}
.l9 {
  grid-column: span 9;
}
.l10 {
  grid-column: span 10;
}
.l11 {
  grid-column: span 11;
}
.l12 {
  grid-column: span 12;
}
.l2-offset-1 {
  grid-column: 2 / span 2;
}
.l2-offset-3 {
  grid-column: 4 / span 2;
}
.l2-offset-5 {
  grid-column: 6 / span 2;
}
.l3-offset-2 {
  grid-column: 3 / span 3;
}
.l3-offset-3 {
  grid-column: 4 / span 3;
}
.l3-offset-5 {
  grid-column: 6 / span 3;
}
.l3-offset-6 {
  grid-column: 7 / span 3;
}
.l3-offset-7 {
  grid-column: 8 / span 3;
}
.l3-offset-8 {
  grid-column: 9 / span 3;
}
.l4-offset-1 {
  grid-column: 2 / span 4;
}
.l4-offset-2 {
  grid-column: 3 / span 4;
}
.l4-offset-7 {
  grid-column: 8 / span 4;
}
.l4-offset-8 {
  grid-column: 9 / span 4;
}
.l5-offset-1 {
  grid-column: 2 / span 5;
}
.l5-offset-2 {
  grid-column: 3 / span 5;
}
.l5-offset-4 {
  grid-column: 5 / span 5;
}
.l5-offset-5 {
  grid-column: 6 / span 5;
}
.l5-offset-6 {
  grid-column: 7 / span 5;
}
.l5-offset-7 {
  grid-column: 8 / span 5;
}
.l6-offset-3 {
  grid-column: 4 / span 6;
}
.l6-offset-4 {
  grid-column: 5 / span 4;
}
.l7-offset-3 {
  grid-column: 4 / span 7;
}
.l8-offset-2 {
  grid-column: 3 / span 8;
}